<html>
<head>
	<title>uri-res</title>
</head>
<body>
    {{#uriDictionary}}
    	<b>URI Resolution:</b><br/>
   		<dl>
		{{#mappings}}
			<dt>{{s}}<dt>
			{{%IMPLICIT-ITERATOR}}{{#o}}
				<dd><a href={{{.}}}>{{.}}</a></dd>
			{{/o}}	
		{{/mappings}}
		</dl>
    {{/uriDictionary}}
</body>
</html>